#loaderDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1100;
    background-color:white;
    opacity: .8;
    display: none;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}

.side_menu_item_title {
    margin-left:1.5em;
}