<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
    <title>Jeeshop - Administer your store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jeeshop Admin</title>
    <!-- Bootstrap core CSS -->
    <link href="app/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="app/css/dashboard.css" rel="stylesheet">
    <!-- app CSS -->
    <link href="app/css/app.css" rel="stylesheet">

</head>

<body>

<!-- libraries -->
<script type="text/javascript" src="app/built/libs_bundle.js"></script>
<script type="text/javascript" src="app/built/app_bundle.js"></script>

<div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><em>Jeeshop Admin</em></span>
            </div>
            <div ng-controller="LoginController as loginCtrl" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Settings</a></li>
                    <li class="hidden-xs"><a href="#">Help</a></li>
                    <li ng-show="loginCtrl.isAuthenticated()" class="visible-xs" ui-sref-active="active"><a ui-sref="home">Overview</a></li>
                    <li ng-show="loginCtrl.isAuthenticated()" class="visible-xs" ui-sref-active="active"><a  ui-sref="catalog.items({resource : 'catalogs'})">Catalog</a></li>
                    <li ng-show="loginCtrl.isAuthenticated()" class="visible-xs" ui-sref-active="active"><a  ui-sref="order.orders">Orders</a></li>
                    <li ng-show="loginCtrl.isAuthenticated()" class="visible-xs" ui-sref-active="active"><a  ui-sref="statistic">Stats</a></li>
                    <li ng-show="loginCtrl.isAuthenticated()" class="visible-xs" ui-sref-active="active"><a  ui-sref="user.users">Users</a></li>
                    <li ng-show="loginCtrl.isAuthenticated()" class="visible-xs" ui-sref-active="active"><a  ui-sref="mail.templates">Emails, Newsletters</a></li>
                </ul>

                <form class="navbar-form navbar-right visible-md visible-lg" name="loginForm" ng-submit="loginCtrl.login()"
                      ng-hide="loginCtrl.isAuthenticated()">
                    <span class="alert alert-danger" ng-show="loginCtrl.hasAuthenticationFailed()">Authentication has Failed!</span>
                    <input type="text" class="form-control" name="login" placeholder="E-mail..."
                           ng-model="loginCtrl.credentials.login" ng-required="true" maxlength="50"/>
                    <input type="password" class="form-control" name="password" placeholder="Password..."
                           ng-model="loginCtrl.credentials.password" ng-required="true" maxlength="50"/>
                    <input type="submit" class="form-control" value="Sign in"/>
                </form>

                <ul ng-show="loginCtrl.isAuthenticated()" class="nav navbar-nav navbar-right">
                    <li class="hidden-xs"><a href="#">Logged in as {{loginCtrl.credentials.login}}</a></li>
                    <li><a href="#" ng-click="loginCtrl.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid" ng-controller="LoginController as loginCtrl">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li ui-sref-active="active">
                        <a  ui-sref="home"><span class="glyphicon glyphicon-home"></span><span class="side_menu_item_title">Overview</span></a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar" ng-show="loginCtrl.isAuthenticated()">
                    <li ui-sref-active="active" title="Manage store catalog items">
                        <a  ui-sref="catalog.items({resource : 'catalogs'})"><span class="glyphicon glyphicon-book"></span><span class="side_menu_item_title">Catalog</span></a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar" ng-show="loginCtrl.isAuthenticated()">
                    <li ui-sref-active="active" title="Track and manage orders">
                        <a  ui-sref="order.orders"><span class="glyphicon glyphicon-shopping-cart"></span><span class="side_menu_item_title">Orders</span></a>
                    </li>
                    <li ui-sref-active="active" title="Access statistics">
                        <a  ui-sref="statistic"><span class="glyphicon glyphicon-stats"></span><span class="side_menu_item_title">Stats</span></a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar" ng-show="loginCtrl.isAuthenticated()" title="Manage customers">
                    <li ui-sref-active="active">
                        <a  ui-sref="user.users"><span class="glyphicon glyphicon-user"></span><span class="side_menu_item_title">Users</span></a>
                    </li>
                    <li ui-sref-active="active" title="Create and configure newsletters, mail templates">
                        <a  ui-sref="mail.templates"><span class="glyphicon glyphicon-envelope"></span><span class="side_menu_item_title">Emails, Newsletters</span></a>
                    </li>
                </ul>
            </div>

            <div ui-view class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
        </div>
    </div>
</div>

</body>
</html>
