<div class="text-left" ng-controller="OrderController as orderController">
    <form name="orderForm"
          ng-submit="orderForm.$valid && orderController.edit()" novalidate>

        <div class="row">
            <div class="col-md-1 text-right col-md-push-11">
                <button type="button" class="btn btn-default" ng-click="orderController.exitDetailView()"><i
                        class="glyphicon glyphicon-remove" title="Go back to items list"></i></button>
            </div>
            <div class="col-md-11 col-md-pull-1 text-center">
                <h4>Edition of order #{{orderController.entry.id}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <span>
                    <uib-alert ng-repeat="alert in orderController.alerts" type="{{alert.type}}"
                           close="orderController.closeAlert($index)">{{alert.msg}}
                    </uib-alert>
                </span>
            </div>
        </div>

        <div class="row" style="margin-top:1em">

            <div class="form-group col-md-6">
                <label for="status">Status</label>
                <select class="form-control" name="status" ng-model="orderController.entry.status" id="status">
                    <option value="CREATED">Created</option>
                    <option value="PAYMENT_VALIDATED">Payment validated</option>
                    <option value="VALIDATED">Validated</option>
                    <option value="READY_FOR_SHIPMENT">Ready for shipment</option>
                    <option value="SHIPPED">Shipped</option>
                    <option value="DELIVERED">Delivered</option>
                    <option value="CANCELLED">Cancelled</option>
                    <option value="RETURNED">Returned</option>
                </select>
            </div>

        </div>

        <div class="row">


            <div class="form-group col-md-6">
                <label for="reference">Reference</label>
                <h5 id="reference" style="font-weight: bold; color:navy">{{orderController.entry.reference}}</h5>
            </div>

            <div class="form-group col-md-6">
                <label for="price">Price</label>
                <h5 id="price" style="font-weight: bold; color:navy">{{orderController.entry.price}}</h5>
            </div>

        </div>


        <div class="row" ng-show="orderController.entry.status != CREATED">

            <div class="form-group col-md-6" ng-class="{'has-error': orderForm.transactionId.$invalid && orderForm.transactionId.$dirty}">
                <label for="transactionId">Payment transaction ID</label>
                <input type="text" class="form-control" id="transactionId" name="transactionId" ng-model="orderController.entry.transactionId"
                       placeholder="Payment transaction ID ..." maxlength="50"/>
            </div>

            <div class="form-group col-md-6">
                <label for="paymentDate">Payment transaction date</label>
                <input type="datetime-local" id="paymentDate" class="form-control"
                       ng-model="orderController.entry.paymentDate" name="paymentDate" disabled/>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6" ng-class="{'has-error': orderForm.parcelTrackingKey.$invalid && orderForm.parcelTrackingKey.$dirty}">
                <label for="parcelTrackingKey">Parcel tracking ID</label>
                <input type="text" class="form-control" id="parcelTrackingKey" name="parcelTrackingKey" ng-model="orderController.entry.parcelTrackingKey"
                       placeholder="Parcel tracking ID ..." maxlength="50"/>
            </div>

        </div>


        <div class="row">

            <div class="form-group col-md-6">
                <label for="updateDate">Last modification date</label>
                <input type="datetime-local" id="updateDate" class="form-control"
                       ng-model="orderController.entry.updateDate" name="updateDate" disabled/>
            </div>

            <div class="form-group col-md-6">
                <label for="creationDate">Creation date</label>
                <input type="datetime-local" id="creationDate" class="form-control"
                       ng-model="orderController.entry.creationDate" name="creationDate" disabled/>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="orderItems" >Order items</label>
                <table id="orderItems" class="table table-striped table-hover table-condensed text-left">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Sku Id</th>
                        <th>Sku Name</th>
                        <th>Sku Reference</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="orderItem in orderController.entry.items" style="cursor:pointer">
                        <td>{{orderItem.id}}</td>
                        <td>{{orderItem.skuId}}</td>
                        <td>{{orderController.skuPerId[orderItem.skuId].name}}</td>
                        <td>{{orderController.skuPerId[orderItem.skuId].reference}}</td>
                        <td>{{orderItem.quantity}}</td>
                        <td>{{orderItem.price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="discounts">Order Discounts</label>
                <table id="discounts" class="table table-striped table-hover table-condensed text-left">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Discount value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="orderDiscount in orderController.entry.orderDiscounts" style="cursor:pointer">
                        <td>{{orderDiscount.discountId}}</td>
                        <td>{{orderController.discountPerId[orderDiscount.discountId].name}}</td>
                        <td>{{orderDiscount.discountValue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <label for="gender">Delivery Adress</label>
                <input type="text" id="gender" class="form-control" placeholder="Gender..."
                       ng-model="orderController.entry.deliveryAddress.gender" name="gender"/>
                <input type="text" id="firstname" class="form-control" placeholder="Firstname..."
                       ng-model="orderController.entry.deliveryAddress.firstname" name="firstname"/>
                <input type="text" id="lastname" class="form-control" placeholder="Lastname..."
                       ng-model="orderController.entry.deliveryAddress.lastname" name="lastname"/>
                <input type="text" id="company" class="form-control" placeholder="Company..."
                       ng-model="orderController.entry.deliveryAddress.company" name="company"/>
                <input type="text" id="address" class="form-control" placeholder="Address..."
                       ng-model="orderController.entry.deliveryAddress.street" name="address"/>
                <input type="text" id="city" class="form-control" placeholder="City..."
                       ng-model="orderController.entry.deliveryAddress.city" name="city"/>
                <input type="text" id="zipCode" class="form-control" placeholder="Zip code..."
                       ng-model="orderController.entry.deliveryAddress.zipCode" name="zipCode"/>
                <input type="text" id="country" class="form-control" placeholder="Country code..."
                       ng-model="orderController.entry.deliveryAddress.countryIso3Code" name="country"/>
            </div>

            <div class="form-group col-md-6">
                <label for="gender2">Billing Adress</label>
                <input type="text" id="gender2" class="form-control" placeholder="Gender..."
                       ng-model="orderController.entry.billingAddress.gender" name="gender2"/>
                <input type="text" id="firstname2" class="form-control" placeholder="Firstname..."
                       ng-model="orderController.entry.billingAddress.firstname" name="firstname2"/>
                <input type="text" id="lastname2" class="form-control" placeholder="Lastname..."
                       ng-model="orderController.entry.billingAddress.lastname" name="lastname2"/>
                <input type="text" id="company2" class="form-control" placeholder="Company..."
                       ng-model="orderController.entry.billingAddress.company" name="company2"/>
                <input type="text" id="address2" class="form-control" placeholder="Address..."
                       ng-model="orderController.entry.billingAddress.street" name="address2"/>
                <input type="text" id="city2" class="form-control" placeholder="City..."
                       ng-model="orderController.entry.billingAddress.city" name="city2"/>
                <input type="text" id="zipCode2" class="form-control" placeholder="Zip code..."
                       ng-model="orderController.entry.billingAddress.zipCode" name="zipCode2"/>
                <input type="text" id="country2" class="form-control" placeholder="Country code..."
                       ng-model="orderController.entry.billingAddress.countryIso3Code" name="country2"/>
            </div>

        </div>

        <input type="submit" class="btn btn-primary" value="Save" ng-disabled="orderForm.$invalid"/>
    </form>

</div>