<div class="text-center" ng-controller="OrderOperationController as operationsController">
    <div class="row">
        <div class="col-md-12 text-center">
            <span>
                <uib-alert ng-repeat="alert in operationsController.alerts" type="{{alert.type}}"
                       close="operationsController.closeAlert($index)">{{alert.msg}}
                </uib-alert>
            </span>
        </div>
    </div>
    <div id="loaderDiv" ng-show="operationsController.isProcessing">
        <img src="app/images/loading.gif" class="ajax-loader"/>
    </div>

    <div class="row" style="margin-top:1em">
        <div class="col-md-6 text-left form-group">
            <h4>Process Payed orders</h4>
            <label for="skuId">
                SKU Id
            </label>
            <input type="number" class="form-control" id="skuId" ng-model="operationsController.skuId"
                   placeholder="Filter by SKU id..." maxlength="20"/>

            <p class="help-block">Filter orders with items matching given SKU identifier</p>
            <br/>
            <button type="button" class="btn btn-primary"
                    ng-click="operationsController.payedOrdersAsCSV()">Export CSV
            </button>
            <p class="help-block">Export orders items for orders with payment validated to a CSV file with items delivery information</p>
        </div>
    </div>

</div>