<div ng-controller="CategoryChildsCtrl as catChildsCtrl">
    <div ng-if="$index % 2 == 0" class="row" ng-repeat="item in items">
        <div class="col-sm-6 box-item">
            <h3 class="text-center" ng-click="catChildsCtrl.openCategory(items[$index])"
                ng-bind-html="items[$index].localizedPresentation.promotion"></h3>
            <img ng-src="{{catChildsCtrl.getLargeImageUri(items[$index])}}"
                 ng-click="catChildsCtrl.openCategory(items[$index])"/>
            <p ng-bind-html="items[$index].localizedPresentation.shortDescription"></p>
        </div>
        <div class="col-sm-6 box-item">
            <h3 class="text-center" ng-click="catChildsCtrl.openCategory(items[$index + 1])"
                ng-bind-html="items[$index + 1].localizedPresentation.promotion"></h3>
            <img ng-src="{{catChildsCtrl.getLargeImageUri(items[$index + 1])}}"
                 ng-click="catChildsCtrl.openCategory(items[$index + 1])"/>
            <p ng-bind-html="items[$index + 1].localizedPresentation.shortDescription"></p>
        </div>
    </div>
</div>