<div class="modal-content site-modal-content">
    <div class="modal-header site-modal-header">
        {{'forgotten.password.title' | translate}}
    </div>

    <div class="modal-body site-modal-body">

        <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && resetPsswdCtrl.reset()" novalidate>
            <span>
                <alert ng-repeat="alert in resetPsswdCtrl.alerts" type="{{alert.type}}"
                       close="resetPsswdCtrl.closeAlert($index)">{{alert.msg}}
                </alert>
            </span>

            <div class="form-group">
                <input type="text" class="form-control input-email" id="login"
                       placeholder="{{'email.placeholder' | translate}}"
                       ng-model="loginCtrl.credentials.login" ng-required="true" maxlength="100"
                       ng-class="{'has-error': resetPasswordForm.login.$invalid && resetPasswordForm.login.$dirty}"/>

                <p class="help-block"
                   ng-show="resetPasswordForm.login.$error.required && resetPasswordForm.login.$dirty">
                    {{'form.field.required' | translate}}</p>
                <p class="help-block"
                   ng-show="resetPasswordForm.login.$error.required && resetPasswordForm.login.$dirty">
                    {{'form.field.required' | translate}}</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-wine" ng-click="modalInstance.close()">{{'cancel.button' | translate}}</button>
        <button type="submit" class="btn-default" ng-click="modalInstance.dismiss()">{{'reset.button' | translate}}</button>
    </div>
</div>