<div ng-controller="ResetPasswordController as resetPasswdCtrl">

    <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && resetPasswdCtrl.initReset()" novalidate>
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <div class="form-group"
                     ng-class="{'has-error': hasError ||  ((resetPasswordForm.$submitted || resetPasswordForm.login.$dirty) && (resetPasswordForm.login.$invalid  || resetPasswordForm.login.$error.required )) }">
                    <input type="email" class="form-control input-email" id="login" name="login"
                           placeholder="{{'email.placeholder' | translate}}"
                           ng-model="resetPasswdCtrl.credentials.login" ng-required="true" maxlength="100"/>
                    <p class="help-block"
                       ng-show="resetPasswordForm.login.$error.required && (resetPasswordForm.$submitted||resetPasswordForm.login.$dirty)">
                        {{'form.field.required' | translate}}</p>

                    <p class="help-block"
                       ng-show="hasError">
                        {{errorKey | translate}}</p>
                    <p class="help-block"
                       ng-show="!hasError && resetPasswordForm.$pristine">
                        {{'password.reset.help' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-push-3 text-right">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{'cancel.button' | translate}}
                </button>
                <button style="margin-left: 1em" type="submit" class="btn btn-primary">{{'button.submit' |
                    translate}}
                </button>
            </div>
        </div>
    </form>
</div>