<div class="modal-content site-modal-content">
    <div class="modal-header site-modal-header">
        <span ng-show="!isResetPasswordFormDisplayed">{{'login.title' | translate}}</span>
        <span ng-show="isResetPasswordFormDisplayed">{{'forgotten.password.title' | translate}}</span>
    </div>

    <div class="modal-body site-modal-body">

        <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate ng-show="!isResetPasswordFormDisplayed">

            <div class="form-group"
                 ng-class="{'has-error': hasAuthenticationFailed() || ((loginForm.$submitted || loginForm.login.$dirty) && (loginForm.login.$error.required || loginForm.login.$invalid))}">
                <input type="email" class="form-control input-email" name="login"
                       placeholder="{{'email.placeholder' | translate}}"
                       ng-model="credentials.login" ng-required="true" maxlength="100"
                        />
                <p class="help-block"
                   ng-show="loginForm.login.$error.required && (loginForm.$submitted||loginForm.login.$dirty)">
                    {{'form.field.required' | translate}}</p>
            </div>
            <div class="form-group no-marding"
                 ng-class="{'has-error': hasAuthenticationFailed() || ((loginForm.$submitted || loginForm.password.$dirty) && (loginForm.password.$error.required || loginForm.password.$invalid))}">
            <input type="password" class="form-control input-password" id="password" name="password"
                       placeholder="{{'password.placeholder' | translate}}"
                       ng-model="credentials.password" ng-required="true"
                       maxlength="50"
                        />
                <p class="help-block"
                   ng-show="hasAuthenticationFailed()">
                    {{'error.authentication' | translate}}</p>
                <p class="help-block"
                   ng-show="loginForm.password.$error.required && (loginForm.$submitted||loginForm.password.$dirty)">
                    {{'form.field.required' | translate}}</p>
            </div>
            <div class="form-group" style="padding-top: 1em">
                <a href="#" ng-click="showResetPasswordForm()">{{'password.forgotpassword' | translate}}</a>
            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="cancel()">{{'cancel.button' | translate}}
                    </button>
                    <button style="margin-left: 1em" type="submit" class="btn btn-primary">{{'button.submit' | translate}}</button>
                </div>
            </div>
        </form>

        <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && resetPassword()" novalidate ng-show="isResetPasswordFormDisplayed">

            <div class="form-group"  ng-class="{'has-error': hasError ||  ((resetPasswordForm.$submitted || resetPasswordForm.login.$dirty) && (resetPasswordForm.login.$invalid  || resetPasswordForm.login.$error.required )) }">
                <input type="email" class="form-control input-email" id="login" name="login"
                       placeholder="{{'email.placeholder' | translate}}"
                       ng-model="credentials.login" ng-required="true" maxlength="100"/>
                <p class="help-block"
                   ng-show="resetPasswordForm.login.$error.required && (resetPasswordForm.$submitted||resetPasswordForm.login.$dirty)">
                    {{'form.field.required' | translate}}</p>

                <p class="help-block"
                   ng-show="hasError">
                    {{errorKey | translate}}</p>
                <p class="help-block"
                   ng-show="!hasError && resetPasswordForm.$pristine">
                    {{'password.reset.help' | translate}}</p>
            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-default" ng-click="cancel()">{{'cancel.button' | translate}}
                    </button>
                    <button style="margin-left: 1em" type="submit" class="btn btn-primary">{{'button.submit' | translate}}</button>
                </div>
            </div>
        </form>
        <div id="loaderDiv" ng-show="isProcessing">
            <img src="../images/loading.gif" class="ajax-loader"/>
        </div>
    </div>
</div>