<div ng-controller="RestrictedAccessController as restrictAccessCtrl"
     ng-show="restrictAccessCtrl.hasAccess()">

    <div class="main-container">

        <div class="site-page-header text-center">
                {{'page.orderconfirm.title' | translate}}
        </div>

        <div ng-controller="OrderConfirmController as orderConfirmCtrl">
            <div class="row no-marding">
                <div class="col-sm-1 visible-sm visible-md visible-lg"></div>
                <div class="col-sm-10">
                    <div class="row bottom-grey-fin-bar">
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-3">
                            <h5>{{'shoppingcart.item'|translate}}</h5>
                        </div>
                        <div class="col-xs-3">
                            <h5>{{'shoppingcart.quantity'|translate}}</h5>
                        </div>
                        <div class="col-xs-3">
                            <h5>{{'shoppingcart.price'|translate}}</h5>
                        </div>
                    </div>

                    <div class="row no-marding" ng-repeat="item in orderConfirmCtrl.items" style="padding-top: 1em">
                        <div class="col-xs-3" style="text-align: center">
                            <img class="product-box-img" style="height: 10em; width: auto"
                                 ng-src="jeeshop-media/products/{{item.product.id}}/{{item.product.localizedPresentation.locale}}/{{item.product.localizedPresentation.smallImage.uri}}"/>

                        </div>
                        <div class="col-xs-3 text-left" style="padding-top: 4em">
                            <p ng-bind-html="item.product.localizedPresentation.displayName"></p>
                        </div>
                        <div class="col-xs-3 text-left" style="padding-top: 4em">
                            <p>
                                {{item.quantity}}
                            </p>
                        </div>
                        <div class="col-xs-3 text-left" style="padding-top: 4em">
                            <p>
                                {{item.sku.price | number : 2}} € {{'price.ttc' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="row no-marding" style="padding-top: 1em">
                        <div class="col-xs-3 text-center">
                            <img style="width:4em;height:auto" src="../images/pastille-livraison.png">
                        </div>
                        <div class="col-xs-6" style="text-align: left; padding-top: 1em">
                            <p>
                                {{'delivery.mode.truck'|translate}}
                            </p>
                        </div>

                        <div class="col-xs-3 text-left" style="padding-top: 1em">
                            <p>
                                {{orderConfirmCtrl.shippingFee | number : 2}} € {{'price.ttc' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="row no-marding" style="padding-top: 1em"
                         ng-repeat="discount in orderConfirmCtrl.discounts" ng-show="(discount.triggerRule!='AMOUNT' || discount.triggerValue <= orderConfirmCtrl.getItemsPrice())">
                        <div class="col-xs-3" style="text-align: center">
                            <img style="width:4em; height: auto"
                                 ng-src="jeeshop-media/discounts/{{discount.id}}/{{discount.localizedPresentation.locale}}/{{discount.localizedPresentation.smallImage.uri}}"/>
                        </div>
                        <div class="col-xs-6 text-left" style="padding-top: 1em">
                            <p>{{discount.localizedPresentation.displayName}}</p>
                        </div>

                        <div class="col-xs-3 text-left" style="padding-top: 1em">
                            <p>
                        <span ng-show="discount.type == 'ORDER_DISCOUNT_AMOUNT' || discount.type == 'SHIPPING_FEE_DISCOUNT_AMOUNT'">
                            - {{discount.discountValue | number : 2}} €</span>
                        <span ng-show="discount.type == 'DISCOUNT_RATE'">
                            - {{discount.discountValue}} %</span>
                            </p>
                        </div>
                    </div>

                    <div class="row no-marding top-grey-fin-bar" style="margin-top: 1em">
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-3">
                            {{'shoppingcart.total'|translate}} {{'price.ht' | translate}}
                        </div>
                        <div class="col-xs-3">
                            {{orderConfirmCtrl.getOrdersPrice() *100/(100+orderConfirmCtrl.vat)   | number : 2}} €
                        </div>
                    </div>
                    <div class="row no-marding">
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-3">
                            <h5 style="text-decoration: none">{{'shoppingcart.total'|translate}} {{'price.ttc' | translate}}</h5>
                        </div>
                        <div class="col-xs-3">
                            <h5 style="text-decoration: none">{{orderConfirmCtrl.getOrdersPrice() | number : 2}} €</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 visible-sm visible-md visible-lg"></div>

            </div>

            <div class="row no-marding" style="margin-top:1em">
                <div class="col-sm-5 text-page-area" style="margin-bottom: 2em">
                    <h5 ng-show="orderConfirmCtrl.items.length > 1">{{'delivery.dates'|translate}}</h5>
                    <h5 ng-show="orderConfirmCtrl.items.length <= 1">{{'delivery.date'|translate}}</h5>
                    <div style="margin-top: 1em">
                        <i>10 jours ouvrés</i>
                    </div>
                </div>
            </div>

            <div class="row no-marding">

                <!-- DELIVERY ADDRESS -->

                <div class="col-sm-5 text-page-area "  style="margin-top: 1em">
                    <h5>{{'delivery.address.title' | translate}}</h5>

                    <p>
                        {{orderConfirmCtrl.order.deliveryAddress.gender}}
                        {{orderConfirmCtrl.order.deliveryAddress.firstname}}
                        {{orderConfirmCtrl.order.deliveryAddress.lastname}}
                    </p>

                    <p>
                        <b><i>{{'company.placeholder' | translate}}</i></b>
                        <br/>
                        {{orderConfirmCtrl.order.deliveryAddress.company}}
                    </p>

                    <p>
                        <b><i>{{'address.placeholder' | translate}}</i></b>
                        <br/>
                        {{orderConfirmCtrl.order.deliveryAddress.street}}
                        <br/>
                        {{orderConfirmCtrl.order.deliveryAddress.city}}
                        <br/>
                        {{orderConfirmCtrl.order.deliveryAddress.zipCode}}
                    </p>

                    <p>
                        <b><i>{{'country.placeholder' | translate}}</i></b>
                        <br/>
                        {{'subscription.country.'+orderConfirmCtrl.order.deliveryAddress.countryIso3Code.toLowerCase()|translate}}
                    </p>
                </div>

                <div class="col-sm-2 visible-sm visible-md visible-lg"></div>


                <!-- BILLING ADDRESS -->
                <div class="col-sm-5 text-page-area"  style="margin-top: 1em">

                    <h5>{{'billing.address.title' | translate}}</h5>

                    <p>
                        {{orderConfirmCtrl.order.billingAddress.gender}}
                        {{orderConfirmCtrl.order.billingAddress.firstname}}
                        {{orderConfirmCtrl.order.billingAddress.lastname}}
                    </p>

                    <p>
                        <b><i>{{'company.placeholder' | translate}}</i></b>
                        <br/>
                        {{orderConfirmCtrl.order.billingAddress.company}}
                    </p>

                    <p>
                        <b><i>{{'address.placeholder' | translate}}</i></b>
                        <br/>
                        {{orderConfirmCtrl.order.billingAddress.street}}
                        <br/>
                        {{orderConfirmCtrl.order.billingAddress.city}}
                        <br/>
                        {{orderConfirmCtrl.order.billingAddress.zipCode}}
                    </p>

                    <p>
                        <b><i>{{'country.placeholder' | translate}}</i></b>
                        <br/>
                        {{'subscription.country.'+orderConfirmCtrl.order.billingAddress.countryIso3Code.toLowerCase() |translate}}
                    </p>

                </div>
            </div>

            <div class="row no-marding" style="padding-top: 2em">
                <div class="col-sm-7">
                </div>
                <div class="col-sm-5 text-page-area text-center">
                    <button type="button" class="btn btn-default" ng-click="orderConfirmCtrl.cleanOrder()">
                        {{'button.order.new'
                        | translate}}
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="orderConfirmCtrl.confirmOrder()" style="margin-left: 2em">
                        {{'button.order.confirm'
                        | translate}}
                    </button>
                </div>

            </div>

            <div id="loaderDiv" ng-show="isProcessing">
                <img src="images/loading.gif" class="ajax-loader"/>
            </div>

        </div>
    </div>
</div>