<div ng-controller="ProductCtrl as productCtrl">

    <h1 class="text-center">{{productCtrl.product.localizedPresentation.displayName | uppercase}}</h1>

    <div class="row product-box">
        <div class="col-sm-5 text-center col-sm-push-1">
            <img ng-src="{{productCtrl.getLargeImageUri()}}"/>
            <br/>
            <div class=" row product-price" ng-controller="ShoppingCartController as cartCtrl">
                <div class="col-xs-8 text-left">
                    <select name="skuSelect" ng-model="productCtrl.selectedSku"
                            ng-options="sku as sku.localizedPresentation.displayName for sku in productCtrl.skus">
                    </select>
                    <span>{{productCtrl.selectedSku.price | number : 2}} €</span> {{'price.ttc' | translate}}
                </div>
                <div class="col-xs-4 text-center">
                    <button type="button" class="btn btn-primary btn-md"
                            ng-click="cartCtrl.addItemToCart(productCtrl.selectedSku.id, productCtrl.product.id)">
                        <i class="fa fa-shopping-cart"></i>  {{'shoppingcart.add' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-push-1">
            <p ng-bind-html="productCtrl.product.localizedPresentation.shortDescription"></p>
            <div ng-bind-html="productCtrl.product.localizedPresentation.mediumDescription"></div>
        </div>
    </div>

    <h2 class="text-center">{{'product.features.title' | translate}}</h2>
    <div class="row product-feature-row" ng-repeat="(key, value) in productCtrl.product.localizedPresentation.features">
        <div class="col-xs-5 col-xs-push-1 col-sm-4 col-sm-push-2 col-lg-3 col-lg-push-3">
            {{key}}
        </div>
        <div class="bottom-grey-fin-bar col-xs-5 col-xs-push-1 col-sm-4 col-sm-push-2 col-lg-3 col-lg-push-3">
            <span ng-bind-html="value"></span>
        </div>
    </div>

</div>

