<div class="modal-content site-modal-content">

    <div class="modal-body shopping-cart" style="padding-left:1em; padding-right: 1em">

        <div class="row bottom-grey-fin-bar no-marding shopping-cart-title">
            <div class="col-xs-6 text-center">
                {{'shoppingcart.item'|translate}}
            </div>
            <div class="col-xs-3">
                {{'shoppingcart.quantity'|translate}}
            </div>
            <div class="col-xs-3">
                {{'shoppingcart.price'|translate}}
            </div>
        </div>

        <div class="row no-marding shopping-cart-item" ng-repeat="item in items">
            <div class="col-xs-6 text-center">
                <p ng-bind-html="item.product.localizedPresentation.displayName"></p>
                <img ng-src="/jeeshop-media/products/{{item.product.id}}/{{item.product.localizedPresentation.locale}}/{{item.product.localizedPresentation.largeImage.uri}}"/>
            </div>
            <div class="col-xs-3 text-center">
                <div class="btn-group sku-quantity" style="float: left" role="group">
                    <button type="button" class="btn btn-primary"
                            ng-click="decrementSkuQuantity(item.sku.id)" ng-disabled="!isDecrementable(item.sku.id)">
                        <i class="glyphicon glyphicon-minus"></i>
                    </button>
                    <button type="button" class="btn btn-default">
                        {{item.quantity}}
                    </button>
                    <button type="button" class="btn btn-primary" ng-disabled="!isIncrementable(item.sku)"
                            ng-click="incrementSkuQuantity(item.sku.id)" >
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-3 text-left">
                <p>
                    {{item.sku.price | number : 2}} € {{'price.ttc' | translate}}
                </p>
            </div>
        </div>
        <div class="row no-marding">
            <div class="col-xs-6 text-center">
                <p style="font-weight:bold">{{'delivery.fee'|translate | uppercase}}</p>
            </div>
            <div class="col-xs-3 text-left">
            </div>
            <div class="col-xs-3 text-left">
                <p>
                    {{shippingFee | number : 2}} € {{'price.ttc' | translate}}
                </p>
            </div>
        </div>
        <div class="row no-marding" ng-repeat="discount in discounts"
             ng-show="(discount.triggerRule!='AMOUNT' || discount.triggerValue <= getItemsPrice())">
            <div class="col-xs-2 text-center">
                <img style="width:3.5em; height: auto"
                     ng-src="/jeeshop-media/discounts/{{discount.id}}/{{discount.localizedPresentation.locale}}/{{discount.localizedPresentation.smallImage.uri}}"/>
            </div>
            <div class="col-xs-4 text-left">
                <p>{{discount.localizedPresentation.displayName}}</p>
            </div>
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3 text-left">
                <p>
                        <span ng-show="(discount.type == 'ORDER_DISCOUNT_AMOUNT' || discount.type == 'SHIPPING_FEE_DISCOUNT_AMOUNT')">
                            - {{discount.discountValue | number : 2}} €</span>
                        <span ng-show="discount.type == 'DISCOUNT_RATE'">
                            - {{discount.discountValue}} %</span>
                </p>
            </div>
        </div>
        <div class="row no-marding top-grey-fin-bar" style="margin-top: 1em">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-3">
                <p style="font-weight:bold">{{'shoppingcart.total'|translate}}</p>
            </div>
            <div class="col-xs-3">
                <p>{{getOrdersPrice() | number : 2}} € {{'price.ttc' | translate}}</p>
            </div>
        </div>

        <div class="row no-marding">
            <div class="col-xs-12 text-right no-marding">
                <button type="button" class="btn btn-default"  ng-click="cancel()">
                    {{'shoppingcart.continue' | translate}}
                </button>
                <button type="button" style="margin-left: 1em" class="btn btn-primary" ng-click="validateShoppingCart()">
                    {{'shoppingcart.validate' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>