<div class="main-container container-fluid" ng-controller="SignUpController as signUpCtrl">
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <form name="subscriptionForm" ng-submit="subscriptionForm.$valid && signUpCtrl.register()" novalidate>

                <span>
                    <alert ng-repeat="alert in signUpCtrl.alerts" type="{{alert.type}}"
                           close="signUpCtrl.closeAlert($index)">{{'error.'+alert.msg | translate}}
                    </alert>
                </span>

                <div class="form-group"
                     ng-class="{'has-error': (subscriptionForm.gender.$invalid && (subscriptionForm.gender.$dirty || subscriptionForm.$submitted ))}">
                    <select class="form-control input-gender" name="gender" ng-model="signUpCtrl.user.gender"
                            ng-required="true">
                        <option value="" selected disabled>{{'subscription.gender' | translate}}</option>
                        <option value="{{'subscription.gender.mr' | translate}}">{{'subscription.gender.mr' |
                            translate}}
                        </option>
                        <option value="{{'subscription.gender.miss' | translate}}">{{'subscription.gender.miss' |
                            translate}}
                        </option>
                    </select>

                    <p class="help-block"
                       ng-show="(subscriptionForm.gender.$error.required && (subscriptionForm.gender.$dirty|| subscriptionForm.$submitted ))">
                        {{'form.field.required' | translate}}</p>
                </div>


                <div class="form-group">
                    <div ng-class="{'has-error': (subscriptionForm.firstname.$invalid && (subscriptionForm.firstname.$dirty || subscriptionForm.$submitted ))}">
                        <input type="text" class="form-control input-firstname"
                               name="firstname"
                               placeholder="{{'firstname.placeholder' | translate}}"
                               ng-model="signUpCtrl.user.firstname" ng-required="true" maxlength="50">

                        <p class="help-block"
                           ng-show="(subscriptionForm.firstname.$error.required && (subscriptionForm.firstname.$dirty|| subscriptionForm.$submitted ))">
                            {{'form.field.required' | translate}}</p>
                    </div>
                    <div ng-class="{'has-error': (subscriptionForm.lastname.$invalid && (subscriptionForm.lastname.$dirty|| subscriptionForm.$submitted ))}">
                        <input type="text" class="form-control"
                               name="lastname"
                               placeholder="{{'lastname.placeholder' | translate}}"
                               ng-model="signUpCtrl.user.lastname" ng-required="true" maxlength="50"/>

                        <p class="help-block"
                           ng-show="(subscriptionForm.lastname.$error.required && (subscriptionForm.lastname.$dirty|| subscriptionForm.$submitted ))">
                            {{'form.field.required' | translate}}</p>
                    </div>
                    <div ng-controller="DatepickerCtrl"
                         ng-class="{'has-error': subscriptionForm.birthDate.$invalid && (subscriptionForm.birthDate.$dirty || subscriptionForm.$submitted )}">
                        <p class="input-group">
                            <input type="text" id="birthDate" name="birthDate" class="form-control"
                                   ng-required="true"
                                   ng-model="signUpCtrl.user.birthDate" is-open="opened"
                                   placeholder="{{'birthdate.placeholder' | translate}}"
                                   max-date="maxDate" datepicker-popup="shortDate" show-button-bar="false"/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                        <p class="help-block"
                           ng-show="(subscriptionForm.birthDate.$error.required && (subscriptionForm.birthDate.$dirty|| subscriptionForm.$submitted ))">
                            {{'form.field.required' | translate}}</p>

                        <p class="help-block"
                           ng-show="subscriptionForm.birthDate.$invalid && (subscriptionForm.birthDate.$dirty|| subscriptionForm.$submitted )">
                            {{'subscription.birthDate.invalid' | translate}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <div ng-class="{'has-error': subscriptionForm.email.$invalid && (subscriptionForm.email.$dirty|| subscriptionForm.$submitted )}">
                        <input type="email" class="form-control input-email"
                               name="email"
                               placeholder="{{'email.placeholder' | translate}}"
                               ng-model="signUpCtrl.user.login" ng-required="true" maxlength="50"/>

                        <p class="help-block"
                           ng-show="subscriptionForm.email.$error.required && (subscriptionForm.email.$dirty|| subscriptionForm.$submitted )">
                            {{'form.field.required' | translate}}</p>

                        <p class="help-block"
                           ng-show="subscriptionForm.email.$invalid && !subscriptionForm.email.$error.required && (subscriptionForm.email.$dirty|| subscriptionForm.$submitted )">
                            {{'subscription.email.invalid' | translate}}</p>
                    </div>

                    <div ng-class="{'has-error': subscriptionForm.phoneNumber.$invalid && (subscriptionForm.phoneNumber.$dirty|| subscriptionForm.$submitted )}">
                        <input type="tel" class="form-control input-phoneNumber"
                               name="phoneNumber"
                               placeholder="{{'phoneNumber.placeholder' | translate}}"
                               ng-model="signUpCtrl.user.phoneNumber" pattern="[0-9]{10,15}" maxlength="30"/>

                        <p class="help-block"
                           ng-show="subscriptionForm.phoneNumber.$invalid && (subscriptionForm.phoneNumber.$dirty|| subscriptionForm.$submitted )">
                            {{'subscription.phoneNumber.invalid' | translate}}</p>
                    </div>

                </div>

                <div class="form-group">
                    <div ng-class="{'has-error': subscriptionForm.password.$invalid && (subscriptionForm.password.$dirty|| subscriptionForm.$submitted )}">
                        <input type="password" class="form-control input-password"
                               name="password"
                               placeholder="{{'password.placeholder' | translate}}"
                               ng-model="signUpCtrl.user.password" ng-required="true"
                               maxlength="50"
                               minlength="8"/>

                        <p class="help-block"
                           ng-show="(subscriptionForm.password.$error.required && (subscriptionForm.password.$dirty|| subscriptionForm.$submitted ))">
                            {{'form.field.required' | translate}}</p>

                        <p class="help-block"
                           ng-show="subscriptionForm.password.$invalid && !subscriptionForm.password.$error.required && (subscriptionForm.password.$dirty|| subscriptionForm.$submitted )">
                            {{'subscription.password.invalid' | translate}}</p>
                    </div>
                    <div ng-class="{'has-error': confirmPasswordDoesNotMatch || subscriptionForm.confirmpassword.$invalid && (subscriptionForm.confirmpassword.$dirty|| subscriptionForm.$submitted )}">
                        <input type="password" class="form-control"
                               placeholder="{{'confirmpassword.placeholder' | translate}}"
                               name="confirmpassword"
                               ng-model="signUpCtrl.confirmpassword" ng-required="true"
                               maxlength="50"
                               minlength="8" ng-change="confirmPasswordCheck()"/>

                        <p class="help-block"
                           ng-show="(subscriptionForm.confirmpassword.$error.required && (subscriptionForm.confirmpassword.$dirty|| subscriptionForm.$submitted ))">
                            {{'form.field.required' | translate}}</p>

                        <p class="help-block"
                           ng-show="confirmPasswordDoesNotMatch || subscriptionForm.confirmpassword.$invalid && !subscriptionForm.confirmpassword.$error.required && (subscriptionForm.confirmpassword.$dirty|| subscriptionForm.$submitted )">
                            {{'subscription.confirmpassword.invalid' | translate}}</p>
                    </div>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"
                                  ng-model="signUpCtrl.user.newslettersSubscribed"/>{{"subscription.newsletters"|translate}}</label>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default" ng-click="cancel()">{{'cancel.button' |
                            translate}}
                        </button>
                        <button style="margin-left: 1em" type="submit" class="btn btn-primary">{{'button.submit' |
                            translate}}
                        </button>
                    </div>
                </div>

            </form>
            <div id="loaderDiv" ng-show="isProcessing">
                <img src="images/loading.gif" class="ajax-loader"/>
            </div>
        </div>
    </div>

</div>

