<div class="row no-marding" style="margin-bottom: 1em" ng-controller="AccountManagementController as accMgtCtrl">
    <div class="visible-sm visible-md visible-lg col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6" style="padding-top: 1em">
        <span>
            <alert ng-repeat="alert in accMgtCtrl.alerts" type="{{alert.type}}"
                   close="accMgtCtrl.closeAlert($index)">{{alert.msg | translate}}
            </alert>
        </span>
        <form name="updatePersDataForm" ng-submit="updatePersDataForm.$valid && accMgtCtrl.updateUserData()" novalidate>
            <h5>{{'account.personaldata.modify'|translate}}</h5>

            <div class="form-group"
                 ng-class="{'has-error': (updatePersDataForm.gender.$invalid && (updatePersDataForm.gender.$dirty || updatePersDataForm.$submitted ))}">
                <select class="form-control input-gender" id="gender" name="gender" ng-model="accMgtCtrl.user.gender"
                        ng-required="true">
                    <option value="" selected disabled>{{'subscription.gender' | translate}}</option>
                    <option value="{{'subscription.gender.mr' | translate}}">{{'subscription.gender.mr' | translate}}
                    </option>
                    <option value="{{'subscription.gender.miss' | translate}}">{{'subscription.gender.miss' |
                        translate}}
                    </option>
                </select>

                <p class="help-block"
                   ng-show="(updatePersDataForm.gender.$error.required && (updatePersDataForm.gender.$dirty|| updatePersDataForm.$submitted ))">
                    {{'form.field.required' | translate}}</p>
            </div>

            <div class="form-group">
                <div ng-class="{'has-error': (updatePersDataForm.firstname.$invalid && (updatePersDataForm.firstname.$dirty || updatePersDataForm.$submitted ))}">
                    <input type="text" class="form-control input-firstname"
                           name="firstname"
                           placeholder="{{'firstname.placeholder' | translate}}"
                           ng-model="accMgtCtrl.user.firstname" ng-required="true" maxlength="50">

                    <p class="help-block"
                       ng-show="(updatePersDataForm.firstname.$error.required && (updatePersDataForm.firstname.$dirty|| updatePersDataForm.$submitted ))">
                        {{'form.field.required' | translate}}</p>
                </div>
                <div ng-class="{'has-error': (updatePersDataForm.lastname.$invalid && (updatePersDataForm.lastname.$dirty|| updatePersDataForm.$submitted ))}">
                    <input type="text" class="form-control"
                           name="lastname"
                           placeholder="{{'lastname.placeholder' | translate}}"
                           ng-model="accMgtCtrl.user.lastname" ng-required="true" maxlength="50"/>

                    <p class="help-block"
                       ng-show="(updatePersDataForm.lastname.$error.required && (updatePersDataForm.lastname.$dirty|| updatePersDataForm.$submitted ))">
                        {{'form.field.required' | translate}}</p>
                </div>

            </div>

            <div class="form-group">
                <div ng-class="{'has-error': updatePersDataForm.phoneNumber.$invalid && (updatePersDataForm.phoneNumber.$dirty|| updatePersDataForm.$submitted )}">
                    <input type="tel" class="form-control input-phoneNumber"
                           name="phoneNumber"
                           placeholder="{{'phoneNumber.placeholder' | translate}}"
                           ng-model="accMgtCtrl.user.phoneNumber" pattern="[0-9]{10,15}" maxlength="30"/>

                    <p class="help-block"
                       ng-show="updatePersDataForm.phoneNumber.$invalid && (updatePersDataForm.phoneNumber.$dirty|| updatePersDataForm.$submitted )">
                        {{'subscription.phoneNumber.invalid' | translate}}</p>
                </div>
            </div>
            <div class="checkbox">
                <label><input type="checkbox"
                              ng-model="accMgtCtrl.user.newslettersSubscribed"/>{{"subscription.newsletters"|translate}}</label>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">{{'button.update' | translate}}
                    </button>
                </div>
            </div>
        </form>

        <h5 style="margin-top:1em">{{'account.password.modify'|translate}}</h5>

        <form name="updatePasswordForm" ng-submit="updatePasswordForm.$valid && accMgtCtrl.changePassword()"
              novalidate>

            <div class="form-group">

                <div ng-class="{'has-error': updatePasswordForm.existingpassword.$invalid && (updatePasswordForm.existingpassword.$dirty|| updatePasswordForm.$submitted )}">
                    <input type="password" class="form-control input-password"
                           name="existingpassword" id="existingpassword"
                           placeholder="{{'password.existing.placeholder' | translate}}"
                           ng-model="accMgtCtrl.existingPassword" ng-required="true"
                           maxlength="50"
                           minlength="8"/>

                    <p class="help-block"
                       ng-show="(updatePasswordForm.existingpassword.$error.required && (updatePasswordForm.existingpassword.$dirty|| updatePasswordForm.$submitted ))">
                        {{'form.field.required' | translate}}</p>

                    <p class="help-block"
                       ng-show="updatePasswordForm.existingpassword.$invalid && !updatePasswordForm.existingpassword.$error.required && (updatePasswordForm.existingpassword.$dirty|| updatePasswordForm.$submitted )">
                        {{'subscription.password.invalid' | translate}}</p>
                </div>

                <div ng-class="{'has-error': updatePasswordForm.password.$invalid && (updatePasswordForm.password.$dirty|| updatePasswordForm.$submitted )}">

                    <input type="password" class="form-control"
                           name="password"
                           placeholder="{{'password.new.placeholder' | translate}}"
                           ng-model="accMgtCtrl.newPassword" ng-required="true"
                           maxlength="50"
                           minlength="8"/>

                    <p class="help-block"
                       ng-show="(updatePasswordForm.password.$error.required && (updatePasswordForm.password.$dirty|| updatePasswordForm.$submitted ))">
                        {{'form.field.required' | translate}}</p>

                    <p class="help-block"
                       ng-show="updatePasswordForm.password.$invalid && !updatePasswordForm.password.$error.required && (updatePasswordForm.password.$dirty|| updatePasswordForm.$submitted )">
                        {{'subscription.password.invalid' | translate}}</p>
                </div>
                <div ng-class="{'has-error': accMgtCtrl.confirmPasswordDoesNotMatch || updatePasswordForm.confirmpassword.$invalid && (updatePasswordForm.confirmpassword.$dirty|| updatePasswordForm.$submitted )}">
                    <input type="password" class="form-control"
                           placeholder="{{'confirmpassword.new.placeholder' | translate}}"
                           name="confirmpassword"
                           ng-model="accMgtCtrl.confirmPassword" ng-required="true"
                           maxlength="50"
                           minlength="8" ng-change="accMgtCtrl.confirmPasswordCheck()"/>

                    <p class="help-block"
                       ng-show="(updatePasswordForm.confirmpassword.$error.required && (updatePasswordForm.confirmpassword.$dirty|| updatePasswordForm.$submitted ))">
                        {{'form.field.required' | translate}}</p>

                    <p class="help-block"
                       ng-show="accMgtCtrl.confirmPasswordDoesNotMatch || updatePasswordForm.confirmpassword.$invalid && !updatePasswordForm.confirmpassword.$error.required && (updatePasswordForm.confirmpassword.$dirty|| updatePasswordForm.$submitted )">
                        {{'subscription.confirmpassword.invalid' | translate}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">{{'button.submit' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="visible-sm visible-md visible-lg col-sm-1 col-md-2 col-lg-3"></div>
<div id="loaderDiv" ng-show="isProcessing">
    <img src="images/loading.gif" class="ajax-loader"/>
</div>