<table class="table table-striped table-hover text-left"
       ng-controller="OrdersHistoryController as ordersHistCtrl" style="margin-top: 1em">
    <thead>
    <tr>
        <th class="visible-md visible-lg "><h5>{{'order.reference.title' | translate}}</h5></th>
        <th><h5>{{'order.price.title' | translate}}</h5></th>
        <th><h5>{{'order.status.title' | translate}}</h5></th>
        <th><h5>{{'order.creationDate.title' | translate}}</h5></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in ordersHistCtrl.orders" style="cursor:pointer"
        ng-click="ordersHistCtrl.openOrderHistoryModal(order.id)">
        <td class="visible-md visible-lg">{{order.reference}}</td>
        <td>{{order.price | number : 2}} € {{'price.ttc' | translate}}</td>
        <td>{{'order.status.'+order.status |translate}}</td>
        <td>{{order.creationDate | date:'longDate'}}</td>
    </tr>
    </tbody>
</table>

<div id="loaderDiv" ng-show="isProcessing">
    <img src="app/images/loading.gif" class="ajax-loader"/>
</div>