/*input {
    outline: none;
    background: #FFFFFF;
    border: 0.5px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    height: 32px;
    padding-left: 1em;
}*/


/*
textarea {
    outline: none;
    resize: none;
    background: #FFFFFF;
    border: 0.5px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 1em;
}*/
