<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
    <title>Jeeshop - Administer your store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- app CSS -->
    <link href="css/app.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">


</head>

<body>

<script type="text/javascript" src="js/stringview-min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type="text/javascript" src="modules/users/js/login.js"></script>
<script type="text/javascript" src="modules/catalog/js/catalog.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><em>Jeeshop Admin</em></a>
        </div>
        <div class="navbar-collapse collapse" ng-controller="LoginController as loginCtrl">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>

            <form class="navbar-form navbar-right" name="loginForm" ng-submit="loginCtrl.login()"
                  ng-hide="loginCtrl.isAuthenticated()">
                <span class="alert alert-danger" ng-show="loginCtrl.hasAuthenticationFailed()">Authentication has Failed!</span>
                <input type="text" class="form-control" name="login" placeholder="User name..."
                       ng-model="loginCtrl.credentials.login" ng-required="true"/>
                <input type="password" class="form-control" name="password" placeholder="Password..."
                       ng-model="loginCtrl.credentials.password" ng-required="true"/>
                <input type="submit" class="form-control" value="ok"/>
            </form>

            <ul ng-show="loginCtrl.isAuthenticated()" class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome {{loginCtrl.credentials.login}}!</a></li>
                <li><a href="#" ng-click="loginCtrl.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" ng-controller="LoginController as loginCtrl">
    <div class="row" ng-controller="SideMenuController as sideMenuCtrl">
        <div class="col-sm-3 col-md-2 sidebar" >
            <ul class="nav nav-sidebar">
                <li ng-class="{ active:sideMenuCtrl.isSelected('overview') }">
                    <a href ng-click="sideMenuCtrl.selectEntry('overview')"><span class="glyphicon glyphicon-home"></span><span class="side_menu_item_title">Overview</span></a>
                </li>
            </ul>
            <ul class="nav nav-sidebar" ng-show="loginCtrl.isAuthenticated()">
                <li ng-class="{ active:sideMenuCtrl.isSelected('orders') }">
                    <a href ng-click="sideMenuCtrl.selectEntry('orders')"><span class="glyphicon glyphicon-shopping-cart"></span><span class="side_menu_item_title">Orders</span></a>
                </li>
                <li ng-class="{ active:sideMenuCtrl.isSelected('statistics') }">
                    <a href ng-click="sideMenuCtrl.selectEntry('statistics')"><span class="glyphicon glyphicon-stats"></span><span class="side_menu_item_title">Stats</span></a>
                </li>
            </ul>
            <ul class="nav nav-sidebar" ng-show="loginCtrl.isAuthenticated()">
                <li ng-class="{ active:sideMenuCtrl.isSelected('users') }">
                    <a href ng-click="sideMenuCtrl.selectEntry('users')"><span class="glyphicon glyphicon-user"></span><span class="side_menu_item_title">Users</span></a>
                </li>
                <li ng-class="{ active:sideMenuCtrl.isSelected('newsletters') }">
                    <a href ng-click="sideMenuCtrl.selectEntry('newsletters')"><span class="glyphicon glyphicon-envelope"></span><span class="side_menu_item_title">Newsletters</span></a>
                </li>
            </ul>
            <ul class="nav nav-sidebar" ng-show="loginCtrl.isAuthenticated()">
                <li ng-class="{ active:sideMenuCtrl.isSelected('catalog') }" title="Manage your catalog items">
                    <a href ng-click="sideMenuCtrl.selectEntry('catalog')"><span class="glyphicon glyphicon-book"></span><span class="side_menu_item_title">Catalog</span></a>
                </li>
                <li ng-class="{ active:sideMenuCtrl.isSelected('inventory') }">
                    <a href ng-click="sideMenuCtrl.selectEntry('inventory')"><span class="glyphicon glyphicon-barcode"></span><span class="side_menu_item_title">Inventory</span></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
             ng-include="'modules/'+(loginCtrl.isAuthenticated()?sideMenuCtrl.entryId:'overview')+'/index.html'"></div>


    </div>
</div>

</body>
</html>
