<!DOCTYPE html>
    <html lang="en" ng-app="admin">
<head>
    <title>Jeeshop Administration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">


</head>

<body ng-contoller="AdminController as adminCtrl">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jeeshop</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" ng-controller="RowController as rowCtrl">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{ active:rowCtrl.isSelected('overview') }">
                    <a href ng-click="rowCtrl.selectRow('overview')">Overview</a>
                </li>
                <li ng-class="{ active:rowCtrl.isSelected('users') }">
                    <a href ng-click="rowCtrl.selectRow('users')">Users</a>
                </li>
                <li ng-class="{ active:rowCtrl.isSelected('orders') }">
                    <a href ng-click="rowCtrl.selectRow('orders')">Orders</a>
                </li>
                <li ng-class="{ active:rowCtrl.isSelected('catalog') }">
                    <a href ng-click="rowCtrl.selectRow('catalog')">Catalog</a>
                </li>
                <li ng-class="{ active:rowCtrl.isSelected('inventory') }">
                    <a href ng-click="rowCtrl.selectRow('inventory')">Inventory</a>
                </li>
                <li ng-class="{ active:rowCtrl.isSelected('statistics') }">
                    <a href ng-click="rowCtrl.selectRow('statistics')">Analytics</a>
                </li>
                <li ng-class="{ active:rowCtrl.isSelected('newsletters') }">
                    <a href ng-click="rowCtrl.selectRow('newsletters')">Newsletters</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row placeholders" ng-show="rowCtrl.isSelected('overview')">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Catalog</h4>
                    <span class="text-muted">Manage your Catalog</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Orders</h4>
                    <span class="text-muted">Watch last orders</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Users</h4>
                    <span class="text-muted">Administer users</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Statistics</h4>
                    <span class="text-muted">Watch usage statistics</span>
                </div>
            </div>
            <div class="table-responsive" ng-show="rowCtrl.isSelected(rowCtrl.rowId)" ng-include="'modules/'+rowCtrl.rowId+'/index.html'"/>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/docs.min.js"></script>
<script type="text/javascript" src="js/catalog.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
