<div class="modal-header">
  <h3>Enter your new password</h3>
</div>

<form name="resetPasswordForm" novalidate>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-6" ng-class="{'has-error': nomatch}">

        <label for="newPassword">Your new password</label>

        <input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="newPassword"
               placeholder="Enter your new password..." maxlength="100"/>

        <p class="help-block"
           ng-show="resetPasswordForm.newPassword.$error.required && resetPasswordForm.newPassword.$dirty">Password is
          required</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6"
           ng-class="{'has-error': (resetPasswordForm.confirmNewPassword.$invalid && resetPasswordForm.confirmNewPassword.$dirty) || nomatch}">
        <label for="confirmNewPassword">Confirm your password</label>

        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword"
               ng-model="confirmNewPassword"
               placeholder="Confirm your password..." maxlength="100" required/>

        <div class="msg-block" ng-show="nomatch">
          <span class="msg-error">Passwords don't match.</span>
        </div>

        <p class="help-block"
           ng-show="resetPasswordForm.confirmNewPassword.$error.required && confirmNewPassword.$dirty">Password is
          required</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="resetPasswordForm.$invalid" ng-click="submitForm()">Confirm</button>
    <button class="btn btn-primary" ng-click="cancelForm()">Cancel</button>
  </div>
</form>


