<div class="text-left" ng-controller="MailOperationController as operationsController">
    <h4>Test e-mail templates</h4>
    <p>Generate test e-mails based on Jeeshop templates with fake test data inside.</p>
    <div class="row" style="margin-top:1em">
        <div class="col-md-12 text-center">
            <span>
                <alert ng-repeat="alert in operationsController.alerts" type="{{alert.type}}"
                       close="operationsController.closeAlert($index)">{{alert.msg}}
                </alert>
            </span>
        </div>
    </div>
    <div id="loaderDiv" ng-show="operationsController.isProcessing">
        <img src="app/images/loading.gif" class="ajax-loader"/>
    </div>
    <form name="sendTestMailForm"
          ng-submit="sendTestMailForm.$valid && operationsController.sendMail()" novalidate>
        <div class="row">

            <div class="col-md-6 text-left form-group">
                <label for="recipient">
                    Test recipient
                </label>
                <input type="email" class="form-control" id="recipient" ng-model="operationsController.recipient"
                       placeholder="Enter a valid e-mail adress" required="true"/>

                <p class="help-block"
                   ng-show="sendTestMailForm.recipient.$error.required && sendTestMailForm.recipient.$dirty">Recipient is required</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6"
                 ng-class="{'has-error': sendTestMailForm.locale.$invalid && sendTestMailForm.locale.$dirty}">
                <label>Mail template</label>
                <select class="form-control" ng-model="operationsController.mailTemplateName"
                        name="mailTemplateName"
                        ng-required="true">

                    <optgroup label="Users">
                        <option value="userRegistration">User registration</option>
                        <option value="userActivation">User activation</option>
                        <option value="userResetPassword">User password reset</option>
                    </optgroup>
                    <optgroup label="Orders">
                        <option value="orderAccepted">Order accepted</option>
                        <option value="orderValidated">Order validated</option>
                        <option value="orderShipped">Order shipped</option>
                    </optgroup>
                </select>

                <p class="help-block">
                    Select an existing mail template
                </p>
            </div>

            <div class="form-group col-md-6"
                 ng-class="{'has-error': sendTestMailForm.locale.$invalid && sendTestMailForm.locale.$dirty}">
                <label>Select a locale</label>
                <select class="form-control" ng-model="operationsController.locale" ng-change="selectLocale()"
                        name="locale"
                        ng-options="a.name as a.displayName for a in operationsController.availableLocales"
                        ng-required="true">
                </select>
                <p class="help-block">
                    Select a locale configured for an existing mail template
                </p>
            </div>

        </div>
        <input type="submit" class="btn btn-primary" value="Send e-mail" ng-disabled="sendTestMailForm.$invalid"/>
        </button>
    </form>
</div>