<div ng-controller="LoginController as loginCtrl">

    <h3 ng-show="loginCtrl.isAuthenticated()" class="text-center page-header">Overview</h3>
    <h3 ng-hide="loginCtrl.isAuthenticated()" class="text-center page-header">Welcome</h3>
    <p class=" text-center help-block"
       ng-hide="loginCtrl.isAuthenticated()">
        Please login to manage online store</p>
    <br/>

    <div style="width:90%" class="text-left visible-xs visible-sm"
         ng-hide="loginCtrl.isAuthenticated()">

        <form name="loginFormMobile" ng-submit="loginCtrl.login()">
            <span class="alert alert-danger"
                  ng-show="loginCtrl.hasAuthenticationFailed()">Authentication has Failed!</span>

            <div class="form-group">
                <label for="loginMobile">Login</label>
                <input type="text" class="form-control" id="loginMobile" placeholder="Enter login..."
                       ng-model="loginCtrl.credentials.login" ng-required="true" maxlength="50"/>
            </div>
            <div class="form-group">
                <label for="passwordMobile">Password</label>
                <input type="password" class="form-control" id="passwordMobile" placeholder="Enter password..."
                       ng-model="loginCtrl.credentials.password" ng-required="true" maxlength="50"/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Sign in"/>
            </div>
        </form>
    </div>
    <div class="row placeholders" ng-show="loginCtrl.isAuthenticated()">
        <div class="col-xs-6 col-sm-3 placeholder">
            <button type="button" class="btn btn-default btn-lg" ng-click="sideMenuCtrl.selectEntry('catalog')">
                <span class="glyphicon glyphicon-book"></span>
            </button>
            <h4>Catalog</h4>
            <span class="text-muted">Manage store items</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <button type="button" class="btn btn-default btn-lg" ng-click="sideMenuCtrl.selectEntry('orders')">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
            <h4>Orders</h4>
            <span class="text-muted">Track customers orders</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <button type="button" class="btn btn-default btn-lg" ng-click="sideMenuCtrl.selectEntry('users')">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <h4>Customers</h4>
            <span class="text-muted">Manage customers</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <button type="button" class="btn btn-default btn-lg" ng-click="sideMenuCtrl.selectEntry('statistics')">
                <span class="glyphicon glyphicon-stats"></span>
            </button>
            <h4>Stats</h4>
            <span class="text-muted">Show statistics</span>
        </div>
    </div>
    <div class="row visible-sm visible-md visible-lg" ng-show="loginCtrl.isAuthenticated()">
        <h4>Last Orders <small>(Fake list, to be implemented)</small></h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Product(s)</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>999</td>
                <td>John Smith</td>
                <td>Hyper Bike VTT 33</td>
                <td>Pending</td>
                <td>2014-06-11 19h32:56</td>
            </tr>
            <tr>
                <td>998</td>
                <td>Rachel Doe</td>
                <td>Mega Bike VTC Move</td>
                <td>Complete</td>
                <td>2014-06-11 19h32:56</td>
            </tr>
            <tr>
                <td>997</td>
                <td>Angelina Gomez</td>
                <td>Left hand brackets</td>
                <td>Fullfilled</td>
                <td>2014-06-11 19h32:56</td>
            </tr>
            <tr>
                <td>996</td>
                <td>Mike Heinz</td>
                <td>Hyper swim VTT, Left hand brackets ...</td>
                <td>Fullfilled</td>
                <td>2014-06-11 19h32:56</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>