<div ng-controller="LoginController as loginCtrl">

    <h3 ng-show="loginCtrl.isAuthenticated()" class="text-center page-header">Overview</h3>
    <h3 ng-hide="loginCtrl.isAuthenticated()" class="text-center page-header">Welcome</h3>
    <p class=" text-center help-block"
       ng-hide="loginCtrl.isAuthenticated()">
        Please login to manage online store</p>
    <br/>

    <div style="width:90%" class="text-left visible-xs visible-sm"
         ng-hide="loginCtrl.isAuthenticated()">

        <form name="loginFormMobile" ng-submit="loginCtrl.login()">
            <div class="text-center" ng-show="loginCtrl.hasAuthenticationFailed()"><span class="alert alert-danger"
                  >Authentication has Failed!</span>
            </div>

            <div class="form-group">
                <label for="loginMobile">Login</label>
                <input type="text" class="form-control" id="loginMobile" placeholder="Enter login..."
                       ng-model="loginCtrl.credentials.login" ng-required="true" maxlength="50"/>
            </div>
            <div class="form-group">
                <label for="passwordMobile">Password</label>
                <input type="password" class="form-control" id="passwordMobile" placeholder="Enter password..."
                       ng-model="loginCtrl.credentials.password" ng-required="true" maxlength="50"/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Sign in"/>
            </div>
        </form>
    </div>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <button type="button" class="btn btn-default btn-lg" ng-click="loginCtrl.isAuthenticated() && sideMenuCtrl.selectEntry('catalog')">
                <span class="glyphicon glyphicon-book"></span>
            </button>
            <h4>Catalog</h4>
            <span class="text-muted">Manage store items</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <button type="button" class="btn btn-default btn-lg" ng-click="loginCtrl.isAuthenticated() && sideMenuCtrl.selectEntry('order')">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
            <h4>Orders</h4>
            <span class="text-muted">Track customers orders</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <button type="button" class="btn btn-default btn-lg" ng-click="loginCtrl.isAuthenticated() && sideMenuCtrl.selectEntry('user')">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <h4>Customers</h4>
            <span class="text-muted">Manage customers</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <button type="button" class="btn btn-default btn-lg" ng-click="loginCtrl.isAuthenticated() && sideMenuCtrl.selectEntry('statistics')">
                <span class="glyphicon glyphicon-stats"></span>
            </button>
            <h4>Statistics</h4>
            <span class="text-muted">Show statistics</span>
        </div>
    </div>
    <div ng-show="loginCtrl.isAuthenticated()">

        <div class="row" ng-controller="OrdersController as ordersController">
            <div class="col-xs-8">
                <h4 ng-show="!ordersController.showLastOrders" style="cursor: pointer" ng-click="(ordersController.showLastOrders = true) &&  ordersController.findEntries('updateDate',true)">
                    Show last orders
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-cog"></i></button>
                </h4>
                <h4 ng-show="ordersController.showLastOrders" style="cursor: pointer" ng-click="(ordersController.showLastOrders = false)">
                    Last updated orders
                </h4>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-default" ng-click="ordersController.findEntries('updateDate',true)" ng-show="ordersController.showLastOrders"><i
                        class="glyphicon glyphicon-refresh"></i></button>
            </div>
            <table class="table table-striped table-hover table-condensed text-left" ng-show="ordersController.showLastOrders">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Owner</th>
                    <th class="hidden-xs hidden-sm">Login</th>
                    <th>Status</th>
                    <th class="hidden-xs hidden-sm">Creation Date</th>
                    <th class="hidden-xs hidden-sm">Last Modification</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in ordersController.entries">
                    <td ng-click="ordersController.selectEntry(entry.id)">{{entry.id}}</td>
                    <td ng-click="ordersController.selectEntry(entry.id)">{{entry.user.gender}} {{entry.user.firstname}}
                        {{entry.user.lastname}}
                    </td>
                    <td class="hidden-xs hidden-sm" ng-click="ordersController.selectEntry(entry.id)">{{entry.user.login}}
                    </td>
                    <td ng-click="ordersController.selectEntry(entry.id)">{{entry.status}}</td>
                    <td class="hidden-xs hidden-sm" ng-click="ordersController.selectEntry(entry.id)">
                        {{entry.creationDate|date : 'medium'}}
                    </td>
                    <td class="hidden-xs hidden-sm" ng-click="ordersController.selectEntry(entry.id)">
                        {{entry.updateDate|date
                        : 'medium'}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>