<div class="text-center" ng-controller="UsersController as usersController">
    <div id="loaderDiv" ng-show="usersController.isProcessing">
        <img src="app/images/loading.gif" class="ajax-loader"/>
    </div>
    <div ng-hide="usersController.isProcessing || ('**.detail' | includedByState)">
        <div class="row" style="margin-top:1em">
            <div class="col-md-6 text-left">
                Show
                <select ng-model="usersController.pageSize" ng-change="usersController.findEntries()">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                elements per page
            </div>
            <div class="col-md-6 text-left">
                <p class="input-group">
                    <input type="text" class="form-control" placeholder="Search login, first name or last name"
                           ng-model="usersController.searchValue"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="usersController.findEntries()"><i
                            class="glyphicon glyphicon-search"></i></button>
                    <button type="button" class="btn btn-default" ui-sref=".detail"><i
                            class="glyphicon glyphicon-plus" title="Go back to items list"></i></button>
                </span>
                </p>
            </div>
        </div>
        <table class="table table-striped table-hover table-condensed text-left">
            <thead>
            <tr>
                <th><a href="" ng-click="usersController.findEntries('id')">ID</a></th>
                <th><a href="" ng-click="usersController.findEntries('login')">Login</a></th>
                <th class="hidden-xs hidden-sm"><a href="" ng-click="usersController.findEntries('firstname')">First
                    name</a></th>
                <th class="hidden-xs"><a href="" ng-click="usersController.findEntries('lastname')">Last name</a>
                </th>
                <th><a href="" ng-click="usersController.findEntries('activated')">Activated</a></th>
                <th><a href="" ng-click="usersController.findEntries('disabled')">Disabled</a></th>
                <th class="hidden-xs hidden-sm hidden-md"><a href=""
                                                             ng-click="usersController.findEntries('disabled')">Newsletters</a>
                </th>
                <th class="hidden-xs hidden-sm"><a href="" ng-click="usersController.findEntries('creationDate')">Creation
                    date</a></th>
                <th class="hidden-xs hidden-sm hidden-md"><a href=""
                                                             ng-click="usersController.findEntries('updateDate')">Last
                    modification</a></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in usersController.entries" style="cursor:pointer">
                <td ui-sref=".detail({userId: entry.id})">{{entry.id}}</td>
                <td ui-sref=".detail({userId: entry.id})">{{entry.login}}</td>
                <td class="hidden-xs hidden-sm" ui-sref=".detail({userId: entry.id})">
                    {{entry.firstname}}
                </td>
                <td class="hidden-xs" ui-sref=".detail({userId: entry.id})">{{entry.lastname}}</td>
                <td ui-sref=".detail({userId: entry.id})">{{entry.activated ===true?'Yes':'No'}}</td>
                <td ui-sref=".detail({userId: entry.id})">{{entry.disabled ===true?'Yes':'No'}}</td>
                <td class="hidden-xs hidden-sm hidden-md" ui-sref=".detail({userId: entry.id})">
                    {{entry.newslettersSubscribed ===true?'Yes':'No'}}
                </td>
                <td class="hidden-xs hidden-sm" ui-sref=".detail({userId: entry.id})">
                    {{entry.creationDate|date : 'medium'}}
                </td>
                <td class="hidden-xs hidden-sm hidden-md" ui-sref=".detail({userId: entry.id})">
                    {{entry.updateDate|date : 'medium'}}
                </td>
                <td>
                    <a ng-click="usersController.delete($index,'You are about to remove user #'+entry.id +' from system')"
                       href="" class="glyphicon glyphicon-trash" style="color:darkred"/>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="usersController.totalCount" ng-model="usersController.currentPage"
                    ng-change="usersController.pageChanged()"
                    items-per-page="usersController.pageSize" class="pagination-sm" boundary-links="true"
                    rotate="false"></pagination>
    </div>

    <div ui-view></div>

</div>