<h3 class="text-center page-header">
    Supply chain
</h3>

<div class="text-center" ng-controller="OrdersController as ordersController">
    <div id="loaderDiv" ng-show="ordersController.isProcessing">
        <img src="images/loading.gif" class="ajax-loader"/>
    </div>

    <div class="row" style="margin-top:1em">
        <div class="col-md-12 text-left form-group">
            <label for="skuId">
                Process Payed Orders
            </label>
            <input type="number" class="form-control" id="skuId" ng-model="ordersController.skuId"
                   placeholder="Filter by SKU id..." maxlength="20"/>
            <p class="help-block">Filter orders with items matching given SKU identifier</p>
            <br/>
            <button type="button" class="btn btn-primary"
                    ng-click="ordersController.payedOrdersAsCSV()">Export
            </button>
            <p class="help-block">Export orders with status "PAYMENT_VALIDATED" to a CSV file</p>
        </div>
    </div>

</div>