.form-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 3em;
  margin-right: 4em;
  margin-left: 4em;

  box-shadow: 0 3px 6px rgba(0,0,0,0.06);
}

.default-fields-container, .fields-container {
  display: flex;
  flex-wrap: wrap;
}

.field-container {
  flex: 1;
  margin-right: 1em;
  min-width: 40%;
}