<div class="text-center" ng-controller="CatalogEntryController as catalogEntryCtrl">
    <div id="loaderDiv" ng-show="catalogEntriesCtrl.isProcessing">
        <img src="images/loading.gif" class="ajax-loader"/>
    </div>
    <div ng-hide="catalogEntryCtrl.isEditionModeActive || catalogEntryCtrl.isCreationModeActive || catalogEntriesCtrl.isProcessing">
        <div class ="row" style="margin-top:1em">
            <div class="col-md-6 text-left">
                Show
                <select ng-model="catalogEntriesCtrl.pageSize" ng-change="findEntries()">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                elements per page
            </div>
            <div class="col-md-6 text-left">
                <p class="input-group">
                    <input type="text" class="form-control" placeholder="Enter item id, name or description" ng-model="catalogEntriesCtrl.searchValue"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="findEntries()"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="button" class="btn btn-default" ng-click="catalogEntryCtrl.activateCreationMode()"><i
                            class="glyphicon glyphicon-plus" title="Go back to items list"></i></button>
                </span>
                </p>
            </div>
        </div>
        <table class="table table-striped table-hover table-condensed text-left">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th class="hidden-xs hidden-sm">Description</th>
                    <th class="hidden-xs hidden-sm">StartDate</th>
                    <th class="hidden-xs hidden-sm">EndDate</th>
                    <th>Visible</th>
                    <th class="hidden-xs hidden-sm">Disabled</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in catalogEntriesCtrl.entries" style="cursor:pointer" >
                    <td ng-click="catalogEntryCtrl.selectEntry(entry.id)" >{{entry.id}}</td>
                    <td ng-click="catalogEntryCtrl.selectEntry(entry.id)" >{{entry.name}}</td>
                    <td class="hidden-xs hidden-sm" ng-click="catalogEntryCtrl.selectEntry(entry.id)" >{{entry.description}}</td>
                    <td class="hidden-xs hidden-sm" ng-click="catalogEntryCtrl.selectEntry(entry.id)" >{{entry.startDate|date : 'medium'}}</td>
                    <td class="hidden-xs hidden-sm" ng-click="catalogEntryCtrl.selectEntry(entry.id)" >{{entry.endDate|date : 'medium'}}</td>
                    <td ng-click="catalogEntryCtrl.selectEntry(entry.id)" >{{entry.visible ===true?'Yes':'No'}}</td>
                    <td class="hidden-xs hidden-sm" ng-click="catalogEntryCtrl.selectEntry(entry.id)" >{{entry.disabled === true?'Yes':'No'}}</td>
                    <td>
                        <a ng-click="catalogEntriesCtrl.delete($index,'This will delete item #'+entry.id)" href="#" class="glyphicon glyphicon-trash"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="catalogEntriesCtrl.totalCount" ng-model="catalogEntriesCtrl.currentPage" ng-change="catalogEntriesCtrl.pageChanged()"
            items-per-page="catalogEntriesCtrl.pageSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
    </div>

    <div ng-show="catalogEntryCtrl.isEditionModeActive || catalogEntryCtrl.isCreationModeActive"
         ng-include="'modules/catalog/'+catalogEntriesCtrl.resourceType+'-form.html'">
    </div>

</div>