<div>
    <section ng-controller="TabController as tab">
        <ul class="nav nav-pills">
            <li ng-class="{ active:tab.isSelected(1) }">
                <a href ng-click="tab.selectTab(1)">Catalogs</a>
            </li>
            <li ng-class="{ active:tab.isSelected(2) }">
                <a href ng-click="tab.selectTab(2)">Categories</a>
            </li>
            <li ng-class="{ active:tab.isSelected(3) }">
                <a href ng-click="tab.selectTab(3)">Products</a>
            </li>
            <li ng-class="{ active:tab.isSelected(4) }">
                <a href ng-click="tab.selectTab(4)">SKUs</a>
            </li>
            <li ng-class="{ active:tab.isSelected(5) }">
                <a href ng-click="tab.selectTab(5)">Discounts</a>
            </li>
        </ul>
        <div get-catalog-entries ng-show="tab.isSelected(1)" resource-type="catalogs"></div>
        <div get-catalog-entries ng-show="tab.isSelected(2)" resource-type="categories"></div>
        <div get-catalog-entries ng-show="tab.isSelected(3)" resource-type="products"></div>
        <div get-catalog-entries ng-show="tab.isSelected(4)" resource-type="skus"></div>
        <!--<div discount-edit-view ng-show="tab.selectTab(5)"></div>-->
    </section>

</div>