<div class="text-left">
    <form name="catalogItemForm"
          ng-submit="catalogItemForm.$valid && catalogEntryCtrl.createOrEdit()" novalidate>

        <div common-catalog-form-fields></div>

        <div class="row">

            <div class="form-group col-md-6">
                <label>Computed availability:</label>&nbsp;
                <span ng-show="catalogEntryCtrl.entry.available" style="color:green">available</span>
                <span ng-hide="catalogEntryCtrl.entry.available" style="color:red">not available</span>
                <p class="help-block">Available when quantity is greater than availability threshold</p>
            </div>
            <div class="form-group col-md-6">
                <label for="reference">Reference</label>
                <input type="text" class="form-control" id="reference" ng-model="catalogEntryCtrl.entry.reference"
                       placeholder="Reference..." maxlength="50"/>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-md-6" ng-class="{'has-error': catalogItemForm.price.$invalid && catalogItemForm.price.$dirty}">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" ng-model="catalogEntryCtrl.entry.price"
                       placeholder="Price..." />
            </div>

            <div class="form-group col-md-6">
                <label for="currency">Currency</label>
                <select class="form-control" ng-model="catalogEntryCtrl.entry.currency" id="currency">
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                </select>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-md-6" ng-class="{'has-error': catalogItemForm.quantity.$invalid && catalogItemForm.quantity.$dirty}">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" ng-model="catalogEntryCtrl.entry.quantity"
                       placeholder="Quantity..."/>
            </div>

            <div class="form-group col-md-6" ng-class="{'has-error': catalogItemForm.threshold.$invalid && catalogItemForm.threshold.$dirty}">
                <label for="threshold">Threshold</label>
                <input type="number" class="form-control" id="threshold" name="threshold" ng-model="catalogEntryCtrl.entry.threshold"
                       placeholder="Availability threshold..." />
            </div>
        </div>

        <div class="row" catalog-relationships-form resource="discounts" relationships-title="SKU discounts" relationships-property="discountsIds"></div>

        <input type="submit" class="btn btn-primary" value="Save"/>
    </form>

</div>