<div ng-controller="RestrictedAccessController as restrictAccessCtrl" ng-show="restrictAccessCtrl.hasAccess()">
<section ng-controller="MailTabController as tab">
        <ul class="nav nav-pills">
            <li ng-class="{ active:tab.isSelected(1) }">
                <a href ng-click="tab.selectTab(1)">Mail templates</a>
            </li>
            <li ng-class="{ active:tab.isSelected(2) }">
                <a href ng-click="tab.selectTab(2)">Operations</a>
            </li>
        </ul>

        <div mail-entries ng-show="tab.isSelected(1)"></div>
        <div mail-operations ng-show="tab.isSelected(2)"></div>

    </section>

</div>
