<h3 class="text-center page-header">Newsletters <small>(Work in progress)</small></h3>

<div class="text-center" ng-controller="NewslettersController as newslettersController">
    <div id="loaderDiv" ng-show="newslettersController.isProcessing">
        <img src="images/loading.gif" class="ajax-loader"/>
    </div>
    <div ng-hide="newslettersController.isEditionModeActive || newslettersController.isCreationModeActive || newslettersController.isProcessing">
        <div class ="row" style="margin-top:1em">
            <div class="col-md-6 text-left">
                Show
                <select ng-model="newslettersController.pageSize" ng-change="newslettersController.findEntries()">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                elements per page
            </div>
            <div class="col-md-6 text-left">
                <p class="input-group">
                    <input type="text" class="form-control" placeholder="Enter newsletter name ..." ng-model="newslettersController.searchValue"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="newslettersController.findEntries()"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="button" class="btn btn-default" ng-click="newslettersController.activateCreationMode()"><i
                            class="glyphicon glyphicon-plus" title="Go back to items list"></i></button>
                </span>
                </p>
            </div>
        </div>
        <table class="table table-striped table-hover table-condensed text-left">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="hidden-xs hidden-sm">Creation date</th>
                <th class="hidden-xs hidden-sm">Last modification</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in newslettersController.entries" style="cursor:pointer" >
                <td ng-click="newslettersController.selectEntry(entry.id)">{{entry.id}}</td>
                <td ng-click="newslettersController.selectEntry(entry.id)">{{entry.name}}</td>
                <td ng-click="newslettersController.selectEntry(entry.id)"></td>
                <td ng-click="newslettersController.selectEntry(entry.id)"></td>
                <td>
                    <a ng-click="newslettersController.delete($index,'This will delete item #'+entry.id)" href="#" class="glyphicon glyphicon-trash"/>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="newslettersController.totalCount" ng-model="newslettersController.currentPage" ng-change="newslettersController.pageChanged()"
                    items-per-page="newslettersController.pageSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
    </div>

    <div newsletter-form ng-show="newslettersController.isEditionModeActive || newslettersController.isCreationModeActive">
    </div>

</div>