<div class="text-left">
    <form name="newsletterForm"
          ng-submit="newsletterForm.$valid && newslettersController.createOrEdit()" novalidate>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
                <span>
                    <alert ng-repeat="alert in newslettersController.alerts" type="{{alert.type}}"
                           close="newslettersController.closeAlert($index)">{{alert.msg}}
                    </alert>
                </span>
            </div>
            <div class="col-md-1">
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-default" ng-click="newslettersController.leaveEditView()"><i
                            class="glyphicon glyphicon-remove" title="Go back to items list"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6"
                 ng-class="{'has-error': newsletterForm.name.$invalid && newsletterForm.name.$dirty}">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="newslettersController.entry.name"
                       placeholder="Name ..." maxlength="100" required="true"/>

                <p class="help-block" ng-show="newsletterForm.name.$error.required && newsletterForm.name.$dirty" >Name is required</p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12"
                 ng-class="{'has-error': newsletterForm.content.$invalid && newsletterForm.content.$dirty}">
                <label for="content">Content</label>

                <textarea ckeditor="newslettersController.editorOptions" id="content"
                          ng-model="newslettersController.entry.content" required="true"></textarea>


                <p class="help-block" ng-show="newsletterForm.content.$error.required && newsletterForm.content.$dirty">Content is required</p>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Save" ng-disabled="newsletterForm.$invalid"/>
    </form>

</div>